<div><h1>123 Main St, Victoria BC(Retail)</h1></div>
<hr>
<div class="form-inline">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Search</button>
    </span>
    <input type="text" class="form-control" ng-model="query" placeholder="Search for...">
  </div>
  <strong>Viewing:</strong>
  <select id="sort" class="form-control" ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="date_added">Newest</option>
  </select>
</div>
<br>
<ul class="item-list" >
  <li ng-class="{ 'selected-list-item': item._id == selectedItemId }"
      ng-repeat="item in items | filter:query | orderBy:orderProp">
    <a ng-click='selectItem(item)'href="/{{item._id}}">{{item.name}}</a>
  </li>
</ul>
<div class="list-controls">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add New Item</button>
  <button ng-click="" class="btn btn-warning">Edit Item</button>
  <button ng-click="deleteItem()" class="btn btn-danger">Delete Item</button>
</div>
