<div class="modal-body">
  <div class="form-group" ng-hide="home.hideDuration">
   <strong>Item Type:</strong>
   <select id="sort" class="form-control" ng-model="itemData.type">
    <option value="stock">Stock</option>
    <option value="mngmt">Managerial Equipment</option>
  </select>
  <div ng-show="itemData.type">
    <label>Name:</label>
    <input class="form-control" type="text" ng-model="itemData.name">
   <!-- <label>Price:</label>
    <input class="form-control" type="text" ng-model="itemData.price"> -->
    <label>Brand:</label>
    <input class="form-control" type="text" ng-model="itemData.brand">
    <label>Quantity:</label>
    <input class="form-control" type="text" ng-model="itemData.quantity">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addItem()">Add</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
  </div>
</div>