body {
  background-color: #e8e8e8;
}
.item-details-container {
  min-height: 640px;
  position: relative;
  margin-left: 50%; 
}
.item-list-container {
  top: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  width: 50%;
  height: 100%;
}
.shadow {
  -webkit-box-shadow: 0 0 2px black;
     -moz-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}
ul.item-list {
  padding-left: 0px;
}
ul.item-list > li {
  list-style-type: none;
  line-height: 40px;
}
ul.item-list > li > a {
  text-decoration: none;
  line-height: 40px;
  display: block;
  padding-left: 20px;
}
.item-list > li:hover{
  background-color: #DBDBDB;
}
.item-list > li:active {
  background-color: #AAAAAA;
}
.selected-list-item {
  background-color: #AAAAAA;
}
.list-controls {
  position: fixed;
  bottom: 5px;
}
